@font-face {
  font-family: "Didact Gothic";
  src: url("./assets/fonts/DidactGothic-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Didact Gothic", sans-serif;
}
